@font-face {
  font-family: "Corporate-Logo";
  src: url("../fonts/Corporate-Logo-Bold-ver2.ttf") format("TrueType");
  /* font-weight: bold; */
}

/* @font-face {
  font-family: "Corporate-Logo";
  src: url("../fonts/Corporate-Logo-Medium-ver2.ttf") format("TrueType");
  font-weight: normal;
} */

body {
  margin: 0; 
  font-family: Corporate-Logo, sans-serif;
  background: #F6FB14;
}

body.initial > *{
  display: none
}

.btn {
  position: relative;
  padding: 12px 18px 12px 45px;
  margin: 0 30px;
  border: 3px solid #000;
  border-radius: 70px;
  background: #F6FB14;
  font-size: 18px;
  text-decoration: none;
  color: #000;
}
.btn::before {
  position: absolute;
  top: -18px;
  left: -25px;
  content: "";
  display: inline-block;
  background-image: url(../imgs/Balloons.png);
  background-size: contain;
  width: 80px;
  height: 80px;
}

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  text-align: center;
  padding: 40px 0;
  margin: 80px 0;
}

section > h1 {
  font-size: 35px;
}
section > h1::before {
  position: relative;
  top: -15px;
  right: -15px;
  content: "";
  display: inline-block;
  background-image: url(../imgs/Balloons.png);
  background-size: contain;
  width: 80px;
  height: 80px;
  vertical-align: middle;
}

p {
  font-size: 18px;
  line-height: 1.5;
  margin: 5px 0;
}

.highlight {
  font-size: 25px;
  background: linear-gradient(transparent 60%, #F6FB14 0%);
}

/* header */
body.initial header{
  display: block;
}
body.initial header .header-noninitial{
  display: none;
}

header .header-initial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

header .header-noninitial {
  padding: 100px 0 300px;

}

header .logo {
  display: block;
  margin: 0 auto 60px;
  width: 500px;
}

/* concept */
#concept {
  position: relative;
  background: #fff;
  transform: skewY(-12deg);
  transform-origin: top left;
}

#concept .catch-copy h1,
#concept .catch-copy h2 {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

#concept .catch-copy h1 {
  top: -48px;
  color: #fff;
  font-size: 50px;
}

#concept .catch-copy h2 {
  top: -27px;
  font-size: 18px;
}


#concept .example {
  height: 370px;
}

#concept .example img{
  width: 200px;
  height: auto;
}

#concept .example > div {
  display: flex;
  position: absolute;
  bottom: -2px;
}

#concept .example > div p:last-child {
  margin-left: 40px;
}

#concept .example .girl {
  align-items: center;
  left: 0;
}
#concept .example .boy {
  align-items: top;
  right: 0;
}
#concept .example .boy div {
  margin-top: 50px;
}

/* about */
#about img {
  width: 900px;
}

/* jobs */
#jobs .job-items {
  display: grid;
  margin: 50px 0 0;
  justify-content: center;
  grid-template-rows: 230px 230px;
  grid-template-columns: 200px 200px 200px;
}

#jobs .job-item  img{
  width: 70px;
  padding: 15px;
  border-radius: 50%;
  border: 3px solid #000;
}

#jobs .job-item p {
  font-size: 13px;
}

#jobs .job-item a {
  font-size: 10px;
  color: #000;
  text-decoration: none;
}

/* companies */

@keyframes loop-slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
} 

#companies .slide-wrap {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
  width: 100vw;
  padding-bottom: 10px;
  margin-top: 120px;
}

#companies .slides {
  display: flex;
  flex-wrap: nowrap;
  animation: loop-slide 15s infinite linear 0s both;
}

#companies .slides .slide-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  margin: 0 10px;
  padding: 25px;
  border-radius: 30px;
  background: #fff;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, .3);
}

#companies .slides .slide-item img{
  width: 70px;
}

/* merits */
#merits {
  margin-bottom: 300px;
}

#merits .merit-items {
  display: flex;
  justify-content: center;
  padding: 50px 0 15px;
  background: #fff;
  transform: skewY(12deg);
  transform-origin: top left;
}

#merits .merit-items .merit-item {
  transform: skewY(-12deg);
  transform-origin: top left;
  margin: 0 30px;
}

#merits .merit-items .merit-item img {
  width: 70px;
}
#merits .merit-items .merit-item h1 {
  font-size: 21px;
}
#merits .merit-items .merit-item p {
  font-size: 15px;
}

/* questions */
#questions .question-itmes {
  display: grid;
  justify-content: center;
  grid-template-columns: 400px 400px;
  gap: 50px 60px;
  margin-top: 100px;
}

#questions .question,
#questions .answer {
  position: relative;
  padding: 60px 50px 50px 90px;
  border-radius: 20px;
  background: #fff;
  text-align: left;
  box-sizing: border-box;
  width: 100%;
}

#questions .answer::before,
#questions .question::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  background-repeat: no-repeat;
  background-size: contain;
  width: 80px;
  height: 80px;
}

#questions .question::before {
  background-image: url(../imgs/question.png);
}
#questions .answer::before {
  background-image: url(../imgs/exclamation_mark.png);
}

#questions .answer::after,
#questions .question::after {
  content: "";
  position: absolute;
  bottom: 5px;
  right: 10px;
  background-image: url(../imgs/pointer.png);
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
  height: 30px;
}

#questions .question-item {
  position: relative;
  cursor: pointer;
}
#questions .question-item .answer {
  position: absolute;
  top: 0;
  left: 0;
}


#questions .question-item.turned .answer {
  transform: rotateY(0deg);
  opacity: 1;
  transition: 
    opacity 100ms 150ms,
    transform .3s .15s;
}
#questions .question-item.turned .question {
  transform: rotateY(90deg);
  opacity: 0;
  transition: 
    opacity 50ms 200ms,
    transform .3s;
}

#questions .question-item:not(.turned) .answer {
  transform: rotateY(90deg);
  opacity: 0;
  transition: 
    opacity 50ms 200ms,
    transform .3s;
}
#questions .question-item:not(.turned) .question {
  transform: rotateY(0deg);
  opacity: 1;
  transition: 
    opacity 100ms 150ms,
    transform .3s .15s;
}

/* seniors */
#seniors .senior-items {
  display: grid;
  justify-content: center;
  grid-template-columns: 220px 220px 220px;
  gap: 50px;
}

#seniors .senior-item {
  background: #fff;
  border-radius: 25%;
  padding: 20px;
}

#seniors .senior-item p {
  font-size: 6px;
  margin-top: 15px;
}

#seniors .senior-item h1 {
  font-size: 15px;
  margin: 0;
}

#seniors .senior-item img {
  width: 180px;
}

/* join */
#join {
  transform: skewY(-12deg);
  transform-origin: top left;
  background: #d0d0d0;
  margin-top: 500px;
  padding: 220px 0 50px;
}

#join > *{
  transform: skewY(12deg);
  transform-origin: top right;
}

#join .line {
  width: 500px;
  padding: 40px;
  margin: 50px auto 0;
  border-radius: 30px;
  background: #fff;
}

#join .line img {
  width: 300px;
  margin-bottom: 30px;
}

#join a.join-btn {
  display: block;
  width: 800px;
  margin: 50px auto 0;
  background: #00B900;
  border: 4px solid #fff;
  border-radius: 60px;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  font-size: 25px;
}

#contact a.contact-btn {
  display: block;
  width: 800px;
  margin: 50px auto 0;
  background: #fff;
  border: 4px solid #000;
  border-radius: 60px;
  padding: 10px;
  text-decoration: none;
  color: #000;
  font-size: 25px;
}

/* footer */
footer {
  position: relative;
  height: 200px;
  background: #000;
}

footer .back-to-top {
  position: absolute;
  padding: 10px 40px 20px;
  top: -30px;
  right: 20px;
  background: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
}